
.overlay {
  position:fixed;
  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:rgba(74,74,74,.8);
  z-index:99999;
}

.spinner {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  align-content: center;
}
.loader {
  width: 30px;
  height: 30px;
  animation: loading 1s infinite ease-out;
  margin: auto;
  border-radius: 50%;
  background-color: red;
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(8);
    opacity: 0;
  }
}
